# Google Sheets
GOOGLE_SHEETS_ID=
GOOGLE_SHEETS_RANGE=Ofertas!A1:K
GOOGLE_APPLICATION_CREDENTIALS=./config/service-account.json

# Output
OUTPUT_FILE=./outputs/products.json

# Logs
LOG_LEVEL=info
LOG_DIR=./logs
